@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

html {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  font-family: "Roboto Mono", monospace;
  color: #0a0a23;
  font-size: 18px;
  padding: 1em;
  line-height: 1.4;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-middle {
  display: block;
  width: 60vw;
}

a {
  color: #0a0a23;
  text-decoration: underline;
}

a:hover {
  color: #f5f6f7;
  background-color: #1b1b32;
  cursor: pointer;
  text-decoration: none;
}

a:active {
  box-shadow: none;
  top: 5px;
}

.cloudflare-block {
  padding: 1em;
  margin: 1em;
}

.cloudflare-block h1 {
  font-size: 1em;
}
.cloudflare-block p,
.cloudflare-block ul,
.cloudflare-block li {
  font-size: 1em;
}

.universal-nav {
  margin: 0px;
  width: 100vw;
  height: 38px;
  background-color: #0a0a23;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
}

.universal-nav img {
  margin: 7px 0px;
  height: 24px;
}

.youtube-embed {
  text-align: center;
}